<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Caravan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,385}}</string>
                <key>sourceSize</key>
                <string>{512,385}</string>
            </dict>
            <key>Caravan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{512,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,385}}</string>
                <key>sourceSize</key>
                <string>{512,385}</string>
            </dict>
            <key>Caravan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{512,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,385}}</string>
                <key>sourceSize</key>
                <string>{512,385}</string>
            </dict>
            <key>Caravan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,389},{512,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,385}}</string>
                <key>sourceSize</key>
                <string>{512,385}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Caravans.png</string>
            <key>size</key>
            <string>{1030,776}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08eced1399bf9290a498e1a2afca9996:75dca5b24ce8604d223966a07598c6ca:b4c1fc53860d20decbdb37d5700a5506$</string>
            <key>textureFileName</key>
            <string>Caravans.png</string>
        </dict>
    </dict>
</plist>
