<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>space_bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,128}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>space_bar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{512,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,128}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>space_bar.png</string>
            <key>size</key>
            <string>{1030,132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2bdee0c3f8dcedaa34243609f7e63b7:ccc2cc964333c147d0e1fd3bc01b89cc:5bbc9cf5aee9f2877655e8feb5a61a7a$</string>
            <key>textureFileName</key>
            <string>space_bar.png</string>
        </dict>
    </dict>
</plist>
